################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JenkinsToolset/v15
/JenkinsLib/bin/Debug
/JenkinsLib/obj/Debug
/JenkinsToolsWpf/bin/Debug
/JenkinsToolsWpf/obj/Debug
/packages
/JenkinsLib.Test/obj/Debug
/JenkinsLib.Test/bin/Debug
/.idea/.idea.jenkins-toolset
/.vs/JenkinsToolset/v16
/JenkinsLib.IntegTest/obj
