################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JenkinsToolset/v15
/JenkinsLib/bin
/JenkinsLib/obj
/JenkinsToolsWpf/bin
/JenkinsToolsWpf/obj
/packages
/JenkinsLib.Test/obj
/JenkinsLib.Test/bin
/.vs
/JenkinsLib.IntegTest/obj
/.idea
**/obj
**/bin