################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JenkinsToolset/v15
/JenkinsLib/bin/Debug
/JenkinsLib/obj/Debug
/JenkinsToolsWpf/bin/Debug
/JenkinsToolsWpf/obj/Debug
/packages
/JenkinsLib.Test/obj/Debug
