<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JenkinsToolsetWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="JenkinsToolsetWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <applicationSettings>
    <JenkinsToolsetWpf.Properties.Settings>
      <setting name="AppName" serializeAs="String">
        <value>Jenkins Toolset</value>
      </setting>
      <setting name="PromptOverwriteWhenBulkCopy" serializeAs="String">
        <value>False</value>
      </setting>
    </JenkinsToolsetWpf.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <JenkinsToolsetWpf.Properties.Settings>
      <setting name="DiffExePath" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftJenkinsBaseUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="RightJenkinsBaseUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>1404</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>870</value>
      </setting>
      <setting name="TextEditorExePath" serializeAs="String">
        <value>C:\Program Files (x86)\Notepad++\notepad++.exe</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WindowStartupLocation" serializeAs="String">
        <value>CenterScreen</value>
      </setting>
      <setting name="LocalTempDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="CompareToolSwitches" serializeAs="String">
        <value />
      </setting>
      <setting name="JenkinsApiCredentials" serializeAs="String">
        <value />
      </setting>
      <setting name="JenkinsJobAuthToken" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftPaneFontFamily" serializeAs="String">
        <value />
      </setting>
      <setting name="RightPaneFontFamily" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftPaneFontWeight" serializeAs="String">
        <value />
      </setting>
      <setting name="RightPaneFontWeight" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftPaneFontStyle" serializeAs="String">
        <value />
      </setting>
      <setting name="RightPaneFontStyle" serializeAs="String">
        <value />
      </setting>
      <setting name="LeftPaneFontSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RightPaneFontSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ValidateJenkinsJobXmlWellFormed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JobsToMonitorJson" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowBackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="ItemMouseOverBackgroundColor" serializeAs="String">
        <value>DarkOrange</value>
      </setting>
      <setting name="OddRowColor" serializeAs="String">
        <value>AliceBlue</value>
      </setting>
      <setting name="EvenRowColor" serializeAs="String">
        <value>WhiteSmoke</value>
      </setting>
      <setting name="AutoRefreshInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PreserveFilterText" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CleanUpOnExit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ListViewSelectionMode" serializeAs="String">
        <value>Extended</value>
      </setting>
      <setting name="PreserveLocalXmlChanges" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RetentionMinutes" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="OptionPageSelectedItem" serializeAs="String">
        <value>General</value>
      </setting>
      <setting name="LeftFilterText" serializeAs="String">
        <value />
      </setting>
      <setting name="RightFilterText" serializeAs="String">
        <value />
      </setting>
      <setting name="ClearFilterOnJobCopy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BuildNumber" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Jenkins2FlatView" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultToConfigurePageWhenOpeningUrl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsWindowHeight" serializeAs="String">
        <value>599</value>
      </setting>
      <setting name="SettingsWindowWidth" serializeAs="String">
        <value>811</value>
      </setting>
    </JenkinsToolsetWpf.Properties.Settings>
  </userSettings>
</configuration>
